.about {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap-inner);
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__skills,
    &__ability {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-xl);
    }

}

.intro {

    &__title {
        padding-bottom: var(--gap-xl);
    }
    
    &__text {
        font-weight: 700;
        padding-bottom: var(--gap-m);
        position: relative;
    }

    &__button {
        position: absolute;
        padding-left: 5px;
        top: 7px;
        cursor: pointer;
        animation: movingbutton 0.8s infinite;
        
       @keyframes movingbutton {

        0% {
            top: 7px;
        }

        100% {
            top: 15px;
        }
        
       } 

    }

    &__list {
        margin-left: 5rem;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all 0.5s;

        &--open {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }

    }

    &__item {
        margin-bottom: 0.8rem;
    }
}

.skills {
    
    &__title {
        max-width: 60rem;
        width: 100%;
        line-height: 2;
        text-align: center;
    }
    
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: var(--section-gap);

    }

    &__webdev {

    }

    &__design {

    }

}

.webdev,
.design {

    &__title {
        margin-bottom: var(--gap-m);
        display: flex;
        gap: var(--gap-s);
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }

    &__item {

    }

}

.webdev {

    &__title {
    }

    &__list {

    }

    &__item {

    }

}

.design {

    &__title {

    }

    &__list {

    }

    &__item {

    }

}

.ability {
    
    &__title {
        
    }
    
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: var(--gap-m);
    }

}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {

        .card__overlay,
        .card__text {
            // display: block;
            opacity: 1;
            visibility: visible;
        }

        .card__title {
            // display: none;
            opacity: 0;
            visibility: hidden;
        }

    }

    &__title {
        position: absolute;
        color: var(--color-light);
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;

        &--dark {
            color: var(--color-dark);
        }
    }

    &__overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
    
    &__image {
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        position: absolute;
        padding: 2rem;
        color: var(--color-light);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

}