.about {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap-inner);
    }

    &__skills,
    &__ability {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-xl);
    }

}

.skills {
    
    &__title {
        max-width: 60rem;
        width: 100%;
        line-height: 2;
        // text-align: center;
    }
    
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: var(--section-gap);

    }

    &__webdev {

    }

    &__design {

    }

}

.webdev,
.design {

    &__title {
        margin-bottom: var(--gap-m);
        display: flex;
        gap: var(--gap-s);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }

    &__item {

    }

}

.webdev {

    &__title {

        &::before {
            content: url(src/assets/icons/laptop-code-solid.svg);
            display: block;
        }
    }

    &__list {

    }

    &__item {

    }

}

.design {

    &__title {
        
        &::before {
            content: url(src/assets/icons/palette-solid.svg);
            display: inline-block;
        }

    }

    &__list {

    }

    &__item {

    }

}

.ability {
    
    &__title {
        
    }
    
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: var(--gap-m);
    }

}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {

        .card__overlay,
        .card__text {
            display: block;
        }

        .card__title {
            display: none;
        }

    }

    &__title {
        position: absolute;
        color: var(--color-light);

        &--dark {
            color: var(--color-dark);
        }
    }

    &__overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
    }
    
    &__image {
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        position: absolute;
        padding: 2rem;
        color: var(--color-light);
        display: none;

    }

}