:root {
  --section-gap: 10rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --color-dark: hsl(0, 0%, 13%);
  --color-dark-200:hsl(0, 0%, 23%);
  --color-dark-300:hsl(0, 0%, 33%);
  --color-dark-500:hsl(0, 0%, 43%);
  --color-dark-600:hsl(0, 0%, 53%);
  --color-dark-700:hsl(0, 0%, 63%);
  --color-dark-800:hsl(0, 0%, 73%);
  --color-dark-900:hsl(0, 0%, 83%);
  --color-accent-100: hsl(180, 43%, 16%);
  --color-accent-200: hsl(180, 43%, 26%);
  --color-accent-300: hsl(180, 43%, 36%);
  --color-accent-400: hsl(180, 43%, 46%);
  --color-accent: hsl(180, 43%, 56%);
  --color-accent-600: hsl(180, 43%, 66%);
  --color-accent-700: hsl(180, 43%, 76%);
  --color-accent-800: hsl(180, 43%, 86%);
  --color-accent-900: hsl(180, 43%, 96%);
  --color-light: hsl(0, 0%, 95%);
  --color-light-200: hsl(0, 0%, 85%);
  --color-light-300: hsl(0, 0%, 75%);
  --color-light-400: hsl(0, 0%, 65%);
  --color-light-500: hsl(0, 0%, 55%);
  --color-light-600: hsl(0, 0%, 45%);
  --color-light-700: hsl(0, 0%, 35%);
  --color-light-800: hsl(0, 0%, 25%);
  --color-light-900: hsl(0, 0%, 15%);
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "belarius-poster", serif;
  --line-height: 1.8;
  --font-scale: 1.25;
  --font-size: 1.5rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-width: 85rem;
  --grid-container: [full-start] minmax(6rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(6rem, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
}

body.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}
body.dark a {
  color: var(--color-light);
}
body.dark a:hover {
  color: var(--color-accent);
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

::placeholder {
  color: var(--color-dark-500);
  font-family: var(--font-sans);
}

input[type=text], input[type=email] {
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-200);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-dark);
  font-family: var(--font-sans);
  font-weight: 500;
}
input[type=text]:focus, input[type=email]:focus {
  outline: 0;
  border-color: var(--color-accent);
}

textarea {
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-200);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-dark);
  resize: none;
  font-family: var(--font-sans);
  font-weight: 500;
}
textarea:focus {
  outline: 0;
  border-color: var(--color-accent);
}

button {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
button:hover {
  background-color: var(--color-accent-600);
  color: var(--color-light);
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  margin: 0;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.header,
.hero,
.about,
.contact,
.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.header__inner,
.hero__inner,
.about__inner,
.contact__inner,
.footer__inner {
  grid-column: inner;
}

.about,
.contact {
  padding-top: var(--section-gap);
}

.contact {
  padding-bottom: var(--section-gap);
}

.header {
  position: fixed;
  z-index: 9;
  height: 80px;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  font-weight: 500;
  font-size: 1.2rem;
}

.menu__item {
  cursor: pointer;
}
.social {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.social__link svg {
  width: 1.6rem;
  height: 1.6rem;
}

.footer {
  background-color: var(--color-accent);
  color: var(--color-dark);
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 2px solid rgba(34, 34, 34, 0.8);
}
.footer__inner {
  padding-top: var(--section-gap-inner);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-m);
  z-index: 9;
}
.footer__content {
  padding-bottom: var(--gap-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}
.footer__about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}
.footer__copyright {
  text-align: center;
  padding-bottom: 2rem;
}

.hero {
  height: 100vh;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  padding-top: var(--section-gap-inner);
  font-size: 20rem;
  font-weight: 700;
  width: 100%;
  background: linear-gradient(135deg, rgb(96, 191, 191) 0%, rgb(96, 133, 193) 25%, rgb(247, 245, 98) 50%, rgb(238, 102, 133) 75%, rgb(242, 242, 242) 100%);
  background-size: 500%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: bggradient 40s infinite;
}
@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero__text {
  font-family: var(--font-sans);
  margin-left: auto;
  max-width: 35rem;
  width: 100%;
  line-height: 2;
}

.about__inner {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap-inner);
}
.about__intro, .about__skills, .about__ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}

.intro__text {
  font-weight: 700;
  text-align: left;
}
.intro__list {
  position: relative;
  margin-top: 4rem;
}
.intro__list::before {
  content: "Now 5 facts about me:";
  font-weight: 700;
  display: inline-block;
  padding-bottom: var(--gap-m);
  position: absolute;
  top: -3rem;
  left: -1.5rem;
}

.skills__title {
  max-width: 60rem;
  width: 100%;
  line-height: 2;
  text-align: center;
}
.skills__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--section-gap);
}
.webdev__title,
.design__title {
  margin-bottom: var(--gap-m);
  display: flex;
  gap: var(--gap-s);
}
.webdev__list,
.design__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.webdev__title::before {
  content: url(src/assets/icons/laptop-code-solid.svg);
  display: block;
}
.design__title::before {
  content: url(src/assets/icons/palette-solid.svg);
  display: inline-block;
}
.ability__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--gap-m);
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover .card__overlay,
.card:hover .card__text {
  display: block;
}
.card:hover .card__title {
  display: none;
}
.card__title {
  position: absolute;
  color: var(--color-light);
}
.card__title--dark {
  color: var(--color-dark);
}
.card__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.card__image {
  height: 100%;
}
.card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__text {
  position: absolute;
  padding: 2rem;
  color: var(--color-light);
  display: none;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact__message {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-l);
}
.contact__text {
  max-width: 30rem;
  width: 100%;
  line-height: 2;
}
.contact__form {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.contact__button {
  width: 10rem;
}

/*# sourceMappingURL=style.css.map */
