@charset "UTF-8";
:root {
  --section-gap: 10rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --color-dark: hsl(0, 0%, 13%);
  --color-dark-200:hsl(0, 0%, 23%);
  --color-dark-300:hsl(0, 0%, 33%);
  --color-dark-500:hsl(0, 0%, 43%);
  --color-dark-600:hsl(0, 0%, 53%);
  --color-dark-700:hsl(0, 0%, 63%);
  --color-dark-800:hsl(0, 0%, 73%);
  --color-dark-900:hsl(0, 0%, 83%);
  --color-accent-100: hsl(180, 43%, 16%);
  --color-accent-200: hsl(180, 43%, 26%);
  --color-accent-300: hsl(180, 43%, 36%);
  --color-accent-400: hsl(180, 43%, 46%);
  --color-accent: hsl(180, 43%, 56%);
  --color-accent-600: hsl(180, 43%, 66%);
  --color-accent-700: hsl(180, 43%, 76%);
  --color-accent-800: hsl(180, 43%, 86%);
  --color-accent-900: hsl(180, 43%, 96%);
  --color-light: hsl(0, 0%, 95%);
  --color-light-200: hsl(0, 0%, 85%);
  --color-light-300: hsl(0, 0%, 75%);
  --color-light-400: hsl(0, 0%, 65%);
  --color-light-500: hsl(0, 0%, 55%);
  --color-light-600: hsl(0, 0%, 45%);
  --color-light-700: hsl(0, 0%, 35%);
  --color-light-800: hsl(0, 0%, 25%);
  --color-light-900: hsl(0, 0%, 15%);
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "belarius-poster", serif;
  --line-height: 1.8;
  --font-scale: 1.25;
  --font-size: 1.5rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-width: 85rem;
  --grid-container: [full-start] minmax(6rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(6rem, 1fr) [full-end];
  --grid-container-mobile: [full-start] minmax(3rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(3rem, 1fr) [full-end];
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: all 0.4s;
}

body.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}
body.dark .menu__link {
  color: var(--color-light);
}
body.dark .menu__link:hover {
  color: var(--color-accent);
}
body.dark .title__icon path,
body.dark .scroll-to-top path {
  fill: var(--color-light);
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

::placeholder {
  color: var(--color-dark-500);
  font-family: var(--font-sans);
}

input[type=text], input[type=email] {
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-200);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-dark);
  font-family: var(--font-sans);
  font-weight: 500;
}
input[type=text]:focus, input[type=email]:focus {
  outline: 0;
  border-color: var(--color-accent);
}

textarea {
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-200);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-dark);
  resize: none;
  font-family: var(--font-sans);
  font-weight: 500;
}
textarea:focus {
  outline: 0;
  border-color: var(--color-accent);
}

button {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}
button:hover {
  background-color: var(--color-accent-600);
  color: var(--color-light);
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  margin: 0;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  text-decoration: none;
}

li {
  line-height: var(--line-height);
}

.header,
.hero,
.about,
.contact,
.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
@media screen and (max-width: 39rem) {
  .header,
  .hero,
  .about,
  .contact,
  .footer {
    grid-template-columns: var(--grid-container-mobile);
  }
}
.header__inner,
.hero__inner,
.about__inner,
.contact__inner,
.footer__inner {
  grid-column: inner;
}

.about,
.contact {
  padding-top: var(--section-gap);
}
@media screen and (max-width: 39rem) {
  .about,
  .contact {
    padding-top: var(--gap-xl);
  }
}

.contact {
  padding-bottom: var(--section-gap);
}

.header {
  position: fixed;
  z-index: 9;
  height: 100px;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
.header--scroll {
  opacity: 0;
  visibility: hidden;
}
.header--scroll .header__logo {
  opacity: 1;
  visibility: visible;
}
.header--scroll .menu__link:hover {
  color: var(--color-light);
}
@media screen and (max-width: 39rem) {
  .header--scroll {
    display: none;
  }
}
.header--show {
  height: 70px;
  background-color: rgba(96, 191, 191, 0.5);
  backdrop-filter: blur(12px);
  opacity: 1;
  visibility: visible;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  visibility: hidden;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  font-weight: 500;
  font-size: 1.2rem;
}

.menu__item {
  cursor: pointer;
}
.menu__link {
  color: var(--color-dark);
}
.menu__link:hover {
  color: var(--color-accent);
}

.social {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.social__item {
  transition: all 0.2s;
}
.social__item:hover {
  opacity: 0.6;
}
.social__link svg {
  width: 1.6rem;
  height: 1.6rem;
}

.footer {
  background-color: var(--color-accent);
  color: var(--color-dark);
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 2px solid rgba(34, 34, 34, 0.8);
}
@media screen and (max-width: 39rem) {
  .footer::after {
    display: none;
  }
}
.footer__inner {
  padding-top: var(--section-gap-inner);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 9;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 9;
}
@media screen and (max-width: 54rem) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
}
.footer__about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
@media screen and (max-width: 54rem) {
  .footer__name {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 54rem) {
  .footer__text {
    font-size: 1.4rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}
@media screen and (max-width: 54rem) {
  .footer__social h5 {
    font-size: var(--font-size-1);
  }
}
.footer__copyright {
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

.scroll-to-top {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.scroll-to-top svg {
  width: 1.5rem;
  height: 1.5rem;
}
.scroll-to-top:hover {
  animation: moving-arrow-up 0.8s infinite;
}
@keyframes moving-arrow-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.scroll-to-top--show {
  opacity: 1;
  visibility: visible;
}

.hero {
  min-height: 100vh;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 54rem) {
  .hero__inner {
    align-items: center;
  }
}
@media screen and (max-width: 39rem) {
  .hero__inner {
    gap: var(--gap-s);
  }
}
.hero__title {
  padding-top: var(--section-gap-inner);
  font-size: clamp(8rem, 21vw, 20rem);
  font-weight: 700;
  width: 100%;
  background: linear-gradient(135deg, rgb(96, 191, 191) 0%, rgb(96, 133, 193) 25%, rgb(247, 245, 98) 50%, rgb(238, 102, 133) 75%, rgb(242, 242, 242) 100%);
  background-size: 500%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: bggradient 40s infinite;
}
@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 39rem) {
  .hero__title {
    font-size: 5rem;
    padding-top: 0;
  }
}
.hero__text {
  font-size: clamp(var(--font-size-1), 2.5vw, var(--font-size-2));
  font-family: var(--font-sans);
  margin-left: auto;
  max-width: 35rem;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 54rem) {
  .hero__text {
    margin: 0 auto;
  }
}
.about__inner {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap-inner);
}
@media screen and (max-width: 39rem) {
  .about__inner {
    gap: var(--gap-xl);
  }
}
.about__intro, .about__skills, .about__ability {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__skills, .about__ability {
  gap: var(--gap-xl);
}
@media screen and (max-width: 39rem) {
  .about__skills, .about__ability {
    gap: var(--gap-l);
  }
}

.intro__title {
  padding-bottom: var(--gap-xl);
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 64rem) {
  .intro__title {
    max-width: 30rem;
    width: 100%;
  }
}
.intro__text {
  font-weight: 700;
  padding-bottom: var(--gap-m);
  position: relative;
}
.intro__button {
  position: absolute;
  padding-left: 5px;
  top: 7px;
  cursor: pointer;
  animation: moving-arrow-down 0.8s infinite;
}
@keyframes moving-arrow-down {
  0% {
    top: 7px;
  }
  100% {
    top: 15px;
  }
}
@media screen and (max-width: 39rem) {
  .intro__button {
    display: none;
  }
}
.intro__list {
  list-style: none;
  margin-left: 7.5rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.5s;
}
.intro__list--open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
@media screen and (max-width: 39rem) {
  .intro__list {
    margin-left: 3rem;
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
}
.intro__item {
  margin-bottom: 0.8rem;
  position: relative;
}
.intro__item::before {
  content: "😎";
  display: inline-block;
  position: absolute;
  top: 1.5px;
  left: -45px;
}

.skills__title {
  max-width: 50rem;
  width: 100%;
  line-height: 2.2;
  text-align: center;
}
@media screen and (max-width: 54rem) {
  .skills__title {
    font-size: 1.8rem;
  }
}
.skills__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--section-gap);
}
@media screen and (max-width: 54rem) {
  .skills__content {
    flex-direction: column;
    gap: var(--gap-xl);
  }
}
.webdev__title,
.design__title {
  margin-bottom: var(--gap-m);
  display: flex;
  gap: var(--gap-s);
}
.webdev__list,
.design__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.webdev__item,
.design__item {
  width: fit-content;
  position: relative;
}
.webdev__item::after,
.design__item::after {
  content: "";
  display: none;
  width: 130%;
  height: 20px;
  opacity: 0.75;
  position: absolute;
  top: 25px;
  left: -2px;
  z-index: -1;
  animation: highlighter 0.5s;
}
@keyframes highlighter {
  0% {
    width: 0;
  }
  100% {
    width: 130%;
  }
}
.webdev__item:hover::after,
.design__item:hover::after {
  display: block;
}

.webdev__item:nth-of-type(1):hover::after {
  background-color: #E44D26;
}
.webdev__item:nth-of-type(2):hover::after {
  background-color: #CD6799;
}
.webdev__item:nth-of-type(3):hover::after {
  background-color: #b84dff;
}
.webdev__item:nth-of-type(4):hover::after {
  background-color: #F0DB4F;
}
.webdev__item:nth-of-type(5):hover::after {
  background-color: #AEB2D5;
}
.webdev__item:nth-of-type(6):hover::after {
  background-color: #00749C;
  opacity: 0.5;
}
.webdev__item:nth-of-type(7):hover::after {
  background-color: #F29111;
}

.design__item:nth-of-type(1):hover::after {
  background-color: #dd47dd;
}
.design__item:nth-of-type(2):hover::after {
  background-color: #f08d1c;
}
.design__item:nth-of-type(3):hover::after {
  background-color: #35cbf4;
}

.ability__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--gap-m);
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover .card__overlay,
.card:hover .card__text {
  opacity: 1;
  visibility: visible;
}
.card:hover .card__title {
  opacity: 0;
  visibility: hidden;
}
.card__title {
  position: absolute;
  color: var(--color-light);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}
.card__title--dark {
  color: var(--color-dark);
}
.card__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.card__image {
  height: 100%;
}
.card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__text {
  position: absolute;
  padding: 2rem;
  color: var(--color-light);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
}
@media screen and (max-width: 64rem) {
  .contact__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.contact__message {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-m);
}
@media screen and (max-width: 39rem) {
  .contact__message {
    align-items: center;
  }
}
.contact__text {
  max-width: 30rem;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 64rem) {
  .contact__text {
    max-width: 100%;
  }
}
.contact__form {
  width: 100%;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.contact__button {
  width: 10rem;
}

/*# sourceMappingURL=style.css.map */
