* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: all 0.4s;

}

body.dark {
    background-color: var(--color-dark);
    color: var(--color-light);

    .menu__link {
        color: var(--color-light);

        &:hover {
            color: var(--color-accent);
        }
    }

    header path,polygon,
    .scroll-to-top path {
        fill: var(--color-light);
    }
    
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}