* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
}

body.dark {
    background-color: var(--color-dark);
    color: var(--color-light);

    a {
        color: var(--color-light);

        &:hover {
            color: var(--color-accent);
        }
    }
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}