@use '../utilities/responsive';

.footer {
    background-color: var(--color-accent);
    color: var(--color-dark);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        border: 2px solid rgba(34, 34, 34, 0.8);

        @include responsive.max(39rem) {
            display: none;
        }
    }

    &__inner {
        padding-top: var(--section-gap-inner);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap-xl);
        z-index: 9;
    }
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-xl);
        z-index: 9;

        @include responsive.max(54rem) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }

    &__name {
        
        @include responsive.max(54rem) {
            font-size: var(--font-size-2);
        }

    }

    &__text {

        @include responsive.max(54rem) {
            font-size: 1.4rem;
        }

    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);

        h5 {
            @include responsive.max(54rem) {
                font-size: var(--font-size-1);
            }
        }

    }

    &__copyright {
        font-size: 1.1rem;
        text-align: center;
        padding-bottom: 2rem;
    }
}

.scroll-to-top {
    z-index: 99;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover  {
        animation: moving-arrow-up 0.8s infinite;
        
       @keyframes moving-arrow-up {

        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
        
       } 
    }

    &--show {
        opacity: 1;
        visibility: visible;
    }
}