@use '../utilities/responsive';

.header {
    position: fixed;
    z-index: 9;
    height: 100px;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s;

    &--scroll {
        opacity: 0;
        visibility: hidden;
        
        .menu__link:hover {
            color: var(--color-light);
        }
         
        @include responsive.max(39rem) {
            display: none;
        }

    }

    &--show {
        height: 70px;
        background-color: rgba(96, 191, 191, 0.5);
        backdrop-filter: blur(12px);
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 2.5rem;
        height: 2.5rem;

        &:hover {
            opacity: 0.7;
        }
        
    }

    &__menu {
        list-style: none;
        display: flex;
        align-items: center;
        gap: var(--gap-m);
        font-weight: 500;
        font-size: 1.2rem;
    }
    
}

.menu {
    
    &__item {
        cursor: pointer;
    }
    
    &__link {
        color: var(--color-dark);
        
        &:hover {
            color: var(--color-accent);
        }
        
    }
}

// Wordpress Adminbar Adjustments

.admin-bar {
    
    .header {
        top: 32px;
    }
}