.header {
    position: fixed;
    z-index: 9;
    height: 80px;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {

    }

    &__menu {
        list-style: none;
        display: flex;
        align-items: center;
        gap: var(--gap-m);
        font-weight: 500;
        font-size: 1.2rem;
    }
    
}

.menu {
    
    &__item {
        cursor: pointer;
    }
    
    &__link {
        
    }
}