@use '../utilities/responsive';

.header,
.hero,
.about,
.contact,
.footer {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    @include responsive.max(39rem) {
        grid-template-columns: var(--grid-container-mobile);
    }

    &__inner {
        grid-column: inner;
    }
}

.about,
.contact {
    padding-top: var(--section-gap);

    @include responsive.max(39rem) {
        padding-top: var(--gap-xl);
    }
}

.contact {
    padding-bottom: var(--section-gap);
}
