.header,
.hero,
.footer {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }
}

.about,
.contact {
    display: grid;
    grid-template-columns: var(--grid-container-main);

    &__inner {
        grid-column: inner;
    }
}

.about,
.contact,
.footer {
    margin-top: var(--section-gap);
}