.social {
    display: flex;
    align-items: center;
    gap: var(--gap-m);

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: var(--gap-m);
    }

    &__item {
        transition: all 0.2s;

        &:hover {
            opacity: 0.6;
        }

    }

    &__link {

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }

    }
}